@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    width:100%;
    height:30vh;
    background-image: linear-gradient(45deg, #e14fad 0%, #f9d423 100%);
    display: flex;
    align-items: center;
    position: relative;
    background-size:150%;
    animation: animation_back 5s ease infinite alternate;
}
@keyframes animation_back{
    0%{
        background-position:0% 0%;
    }
    50%{
        background-position:-200% 50%;
    }
    100%{
        background-position:0% 75%;
    }
}
h1{
    font-size:4rem;
    color:white;
    position: absolute;
    top:18vh;
    left:2.5vw;
    font-family: 'Supermercado One', cursive;
}
.logo{
    width:27vw;
    height:37vh;
    margin-left:2vw;
}
nav{
    width:100%;
}
.container-nav{
    width:80%;
    height:5vh;
    margin-left:10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration:none;
}
.li-nav{
    font-size:2rem;
    color:white;
    list-style:none;
    font-family: 'Supermercado One', cursive;
}
.li-nav:hover{
    font-weight: 900;
    transform: scale(1.1);
    text-decoration:underline;
}
.about{
    margin-top:10vh;
    position: relative;
}
.h2-top{
    width:40%;
    font-size: 3rem;
    font-family: 'Supermercado One', cursive;
    margin:5vh 0 0 8vw;
}
.text{
    width:40%;
    height:30vh;
    background-size:200%;
    border-radius:20px;
    margin:1vh 0 0 6vw;
    text-align:left;
}
.text-one{
    width:90%;
    color:rgb(70, 59, 59);
    padding:2vh 1vw 0 2vw;
    font-size:1.3rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
}
.cars{
    width:60vw;
    position: absolute;
    top:17vh;
    left:40vw;
}
.impact{
    width:100%;
    height:65vh;
    margin:5vh 0 0 0;
    background-color:#8D9082;
}
.h2-impact{
    font-size: 3rem;
    color:white;
    font-family: 'Supermercado One', cursive;
    padding:5vh 0 3vh 8vw;
}
.p-impact{
    width:90%;
    color:white;
    margin:3vh 0vw 0 3vw;
    font-size:1.3rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
}
.top10{
    width:100%;
    height:50vh;
}
.h2-top10{
    font-size: 3rem;
    color:black;
    font-family: 'Supermercado One', cursive;
    margin:5vh 0 0 8vw;
}
.top10{
    position: relative;
}
.cont-kwid{
    width: 25vw;
    height:65vh;
    margin:10vh 0 0 8vw;
    border-radius:20px;
    background-color:#738C8C;
    border:3px solid #2A4646;
    display: flex;
    justify-content: center;
}
.gray{
    width:23vw;
    height:27vh;
    border-radius:20px;
    margin-top:2vh;
    background-color:#fff;
    display: flex;
    justify-content: center;
}
.kwid{
    width:33vw;
    height:32vh;
}